<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} </title>
  <!-- Boostrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container"><div class="row">
 <div class="col-md-8">
  {{ page.date | date_to_string }}
  <hr/>
  <h1>{{ page.title }}</h1>
  <p></p>Tags: <em>{% for tag in page.tags %}{{ tag }} {% endfor %}</em></p>
  {{ content }}
 </div>
 <div class="col-md-4"> 
  <h2>All Posts</h2>
  <ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
 </div>
</div>

<hr/>
<h4>Comments</h4>
<p>Let's experiment with Facebook Comments. I may remove this any time, so behave
yourselves, or I will turn around the car and we'll never go to Disneyland ever
again and I mean it!</p>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=372836461648&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="{{ site.url }}{{ post.url }}" data-numposts="25" data-colorscheme="light"></div>

{% include footer.html %}
</div>
</body>
</html>
